.project-badge {
    background-color: rgba(110, 175, 70, 0.8)
}

.location-button {
    border-radius: 5px;
    background-color: rgba(110, 175, 70, 0.8)
}

.project-pic {
    border-radius: 15px;
    max-height: 50vh;
    width: auto;
    
}